h1 {
    font-family: 'Open Sans', serif;
    font-size: 20px;
    margin: 0;
}

h2 {
    font-family: 'Open Sans', serif; font-size: 18px;
    margin: 0;
    font-weight: 400;
}
h2 a {
    font-size: 18px;
}

a, p {
    font-family: 'Open Sans', sans-serif; font-size: 13px;
    line-height:1.5;
}

a {
    color: #357023;
    text-decoration: none;
}
a:hover {
    color: #222;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 460px;
    margin: 3rem auto;
    align-items: flex-start;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    * {
        box-sizing: border-box;
    }
}

.left {
    float: left;
    clear: none;
    /* flex: 1 0 calc(40%); */
}
.left img {
    width: 160px;
    height: auto;
    border-radius: 100px
}
.right {
    float: left;
    clear: none;
    margin-left: 24px;
    min-width: 276px;
    /* flex: 1 0 calc(60%); */
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}
ul a {
    color: #222;
    text-decoration: none;
    font-size: 24px;
}
ul a:hover {
    color: #357023;
    background: -webkit-linear-gradient(left, #fa9df9 0%, #983251 40%, #c37a7a 70%);
    background: linear-gradient(to bottom right, #fa9df9 0%,#983251 40%,#c37a7a 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* zocial */
[class*="fa-"]:before {
    font-size: 28pt;
    margin-right: 20px;
}
