@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather-Light.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: SourceCodePro;
  src: url("../fonts/SourceCodePro-Medium.ttf");
  font-weight: normal;
}

@font-face {
  font-family: SourceCodePro;
  src: url("../fonts/SourceCodePro-Bold.ttf");
  font-weight: bold;
}
