html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--text);
}

body {
  font: 400 20px / 1.2 "Cormorant Garamond", serif;
  color: var(--text);
  background-color: var(--background);
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0px;
}

.body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 3rem auto;
}

.left {
  margin: auto;
  width: 184px;
}

.left img {
  width: 160px;
  height: auto;
  border-radius: 100px;
}

.right {
  margin: auto;
  width: 480px;
}

ul {
  list-style: none;
  text-align: left;
  padding: 0px;
}

ul li {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
}

ul a {
  background: transparent;
  text-decoration: none;
  color: var(--text);
}

ul a:hover {
  background: transparent;
  text-decoration: none;
  color: var(--text-light);
}

[class*="fa-"]:before {
  font-size: 24pt;
  margin-left: 12px;
  margin-right: 12px;
}
