h1.post-title {
  padding-top: 2.5rem;
  border-top: 1px solid #aaa;
  text-align: center;
}

@media (max-width: 319px) {
  h1.post-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 320px) {
  h1.post-title {
    font-size: 3.5rem;
  }
}

div.date {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #aaa;
  line-height: 0;
  margin: 2.5rem 0 3.5rem;
}

div.date span {
  background-color: white;
  padding: 0 10px;
  font-weight: bold;
  color: #999;
}

@media (max-width: 319px) {
  div.date {
    margin: 1.5rem 0 1.5rem;
  }
}

@media (min-width: 320px) {
  div.date {
    margin: 2.0rem 0 2.0rem;
  }
}

div.tags {
  text-align: right;
  color: #777;
  padding-bottom: 1.4rem;
}

div.tags a:link, div.tags a:visited {
  text-decoration: none;
  color: #aaa;
}

div.footer-separator {
  color: #999;
  border-bottom: 1px solid #aaa;
}

div.footer {
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

div.footer a:link, div.footer a:visited {
  text-decoration: none;
  color: #999;
}

div.footer img.icon {
  height: 1.0em;
  width: 1.0em;
}
