p, li {
  line-height: 1.75em;
}

h1, h2, h3 {
font-family: OpenSans,serif;
}

code {
  background-color: #fcfcfc;
  color: #4070a0;
  font-family: SourceCodePro, monospace;
}

pre {
  padding: 16px;
  background-color: #fcfcfc;
  color: #4070a0;
  border-radius: 8px;
  overflow: auto;
}
pre code {
  background-color: #fcfcfc;
}

blockquote {
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
  padding: 0 1em;
}

/* Firefox needs this for right margin in code blocks
 * but chrome doesn't need it and ends up with twice
 * the margin. What should I do? */
a.sourceLine {
  margin-right: 16px;
}

div.post-image img {
  width: 100%;
  display: block;
  margin: auto;
}

div.post-image-half img {
  width: 50%;
}

div.post-image-split img {
  width: calc(50% - 4px);
  display: initial;
  margin-left: 2px;
  margin-right: 2px;
}

p.post-image-caption {
  text-align: center;
  font-size: 0.9em;
}

table {
  empty-cells: show;
  border: 1px solid #f3f3f3;
  margin-left: auto;
  margin-right: auto;
}

table caption {
  text-align: center;
}

table td, table th {
  border-left: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
}

table td:first-child, table th:first-child {
  border-left-width: 0
}

table thead {
  background-color: #fdfff7;
  vertical-align: bottom;
}

table th {
  text-align: center;
}

table td {
  background-color: transparent;
}
