html {
  font-size: 1.1rem;
}

body {
  max-width: 1024px;
  color: #000;;
  margin: 0 auto;
  padding: 0;
  font-size: 1.1rem;
}

@media (max-width: 1024px) {
  body {
    width: 90%;
  }
}

p, li {
  line-height: 1.75em;
}
