div.image-container-half {
  width: 50%;
  margin: auto;
}

div.post-image img {
  width: 100%;
  display: block;
  margin: auto;
}

div.post-image-half img {
  width: 50%;
}

@media (min-width: 320px) {
  div.post-image-half img {
    width: 100%;
  }
}

@media (min-width: 760px) {
  div.post-image-half img {
    width: 50%;
  }
}

div.post-image-split img {
  width: calc(50% - 4px);
  display: initial;
  margin-left: 2px;
  margin-right: 2px;
}

@media (min-width: 320px) {
  div.post-image-split img {
    width: 100%;
  }
}

@media (min-width: 760px) {
  div.post-image-split img {
    width: calc(50% - 4px);
  }
}

p.post-image-caption {
  text-align: center;
  font-size: 0.9em;
}
