:root {
  --bg: #fcfcfc;
  --kw: #007020;
  --dt: #902000;
  --dv: #40a070;
  --bn: #40a070;
  --fl: #40a070;
  --ch: #4070a0;
  --st: #4070a0;
  --co: #60a0b0;
  --ot: #007020;
  --al: red;
  --fu: #06287e;
  --er: red;
}

code {
  background-color: var(--bg);
  color: var(--st);
  font-size: 0.9rem;
}

pre {
  padding: 16px;
  background-color: var(--bg);
  color: var(--st);
  border-radius: 8px;
  overflow: auto;
  font-size: 0.9rem;
}

table.sourceCode,
tr.sourceCode,
td.lineNumbers,
td.sourceCode,
table.sourceCode pre {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  border: none;
}

td.lineNumbers {
  border-right: 1px solid #AAAAAA;
  text-align: right;
  color: #AAAAAA;
  padding-right: 5px;
  padding-left: 5px;
}

td.sourceCode {
  padding-left: 5px;
}

pre.sourceCode {}

code.sourceCode span.kw {
  color: var(--kw);
  font-weight: bold;
}

code.sourceCode span.dt {
  Color: var(--dt);
}

code.sourceCode span.dv {
  color: var(--dv);
}

code.sourceCode span.bn {
  color: var(--bn);
}

code.sourceCode span.fl {
  color: var(--fl);
}

code.sourceCode span.ch {
  color: var(--ch);
}

code.sourceCode span.st {
  color: var(--st);
}

code.sourceCode span.co {
  color: var(--co);
  font-style: italic;
}

code.sourceCode span.ot {
  color: var(--ot);
}

code.sourceCode span.al {
  color: var(--al);
  font-weight: bold;
}

code.sourceCode span.fu {
  color: var(--fu);
}

code.sourceCode span.re {}

code.sourceCode span.er {
  color: var(--er);
  font-weight: bold;
}
