table {
  empty-cells: show;
  border: 1px solid #f3f3f3;
  margin-left: auto;
  margin-right: auto;
}

table caption {
  text-align: center;
}

table td, table th {
  border-left: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
}

table td:first-child, table th:first-child {
  border-left-width: 0
}

table thead {
  background-color: #fdfff7;
  vertical-align: bottom;
}

table th {
  text-align: center;
}

table td {
  background-color: transparent;
}
