<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Boris Buliga">
    <title>$siteTitle$ - $title$</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/$group$.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    $body$
  </body>
</html>
