<nav>
  <ul>
    <li><a class="fa fa-home" href="/" title="Home">&nbsp Home</a></li>
    <li><a class="fa fa-rss" href="/atom.xml" title="RSS">&nbsp RSS</a></li>
    <li><a class="fa fa-gitlab" href="$gitLabUrl$" title="GitLab profile">&nbsp GitLab</a></li>
    <li><a class="fa fa-github" href="$gitHubUrl$" title="GitHub profile">&nbsp GitHub</a></li>
  </ul>
</nav>
