<section>
    $for(posts)$
      <div class="recent-post">
        <h3><a href="$url$">$title$</a></h3>
        <div class="date"><span>$date$</span></div>
        <div class="tags"><span>($tags$)</span></div>
        $teaser$
        <p class="read-more"><a href="$url$">Read more →</a></p>
      </div>
    $endfor$
</section>
