<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="$rawTags$">
    <meta name="description" content="$description$" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="$description$">
    <meta property="og:locale" content="es_US">
    <meta property="og:title" content="$title$">
    <meta property="og:description" content="$description$">
    <title>$title$</title>
    <link rel="stylesheet" href="/css/bundle.css" />
    <link rel="stylesheet" href="/css/post.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/" title="Home">
          <img id="home" src="/images/home.svg" alt="Home">
          <span>Home</span>
        </a>
        <a href="../rss/posts.rss" title="RSS feed">
          <img class="icon-rss" src="/images/rss.svg" alt="RSS">
          <span>RSS</span>
        </a>
        <a href="$gitHubUrl$" title="GitHub profile">
          <img class="icon" src="/images/github.svg" alt="GitHub">
          <span>GitHub</span>
        </a>
      </nav>
    </header>

    <h1 class="post-title">$title$</h1>
    <div class="date"><span>$date$</span></div>
    <div class="tags"><span>($tags$)</span></div>
    <article>
      <section>
        $body$
      </section>
    </article>

    <div class="footer-separator"></div>
    <div class="footer">
      <a target="_blank" class="post-footer-sources" href="$sourcesRoot$/$path$">
        Source: $title$ <img class="icon" src="/images/github.svg" alt="GitHub"></i>
      </a>
    </div>
    <script src="../js/post.js"></script>
  </body>
</html>
