<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="$rawTags$">
    <meta name="description" content="$description$" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="$description$">
    <meta property="og:locale" content="es_US">
    <meta property="og:title" content="$title$">
    <meta property="og:description" content="$description$">
    <title>$title$</title>
    <link rel="stylesheet" href="/css/post-bundle.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src='/library/mathjax/MathJax.js?config=TeX-MML-AM_CHTML'></script>
  </head>
  <body>
    <header>
      $partial("templates/nav.html")$
    </header>

    <h1 class="post-title">$title$</h1>
    <div class="date"><span>$date$</span></div>
    <div class="tags"><span>($tags$)</span></div>
    <article>
      <section>
        $body$
      </section>
    </article>

    <div class="footer-separator"></div>
    <div class="footer">
      <a target="_blank" class="post-footer-sources" href="$sourcesRoot$/$path$">Sources <i class="fa fa-code fa-lg"></i></a>
    </div>
  </body>
</html>
