<article class="post">
  <header>
    <a href="">
      <h1 class="post-title">$title$</h1>
    </a>
    <div class="post-header">
      <div class="post-date" id="post-date">Created: <time>$date$</time></div>
      $if(update)$
      <div class="post-date" id="post-update">Updated: <time>$update$</time></div>
      $endif$
      <div class="post-tags">
        $if(tags)$
          Tags: $tags$
        $endif$
      </div>
    </div>
  </header>
  <div class="post-body">
    $body$
  </div>
  <footer class="post-footer">
    <a target="_blank" class="post-footer-sources" href="$sourcesRoot$/$path$">Source: $title$ <i class="fa fa-github fa-lg"></i></a>
  </footer>
</article>
