<article>
  <h1>$title$</h1>
  <section class="subtitle">
    Posted on $date$
    $if(author)$
      by $author$
    $endif$
  </section>
  $if(update)$
  <section class="subtitle">
    Updated on $update$
  </section>
  $endif$
  $if(tags)$
  <section class="subtitle">
    Tagged as $tags$
  </section>
  $endif$
  <section>
    $body$
  </section>

  <hr/>

  <section class="text-right">
    <a target="_blank" class="post-footer-sources" href="$sourcesRoot$/$path$">
      <i class="fa fa-code fa-2xs"></i> Sources
    </a>
  </section>

  <script src="https://utteranc.es/client.js"
          repo="d12frosted/d12frosted.io"
          issue-term="pathname"
          label="comments"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
</article>
