<!doctype html>
<html lang="en">
  <head>
    <title>$siteTitle$ - Projects</title>
    <link rel="stylesheet" href="/css/index-bundle.css" />
    $partial("templates/header.html")$
  </head>
  <body>
    $partial("templates/nav.html")$
    <h1>$siteTitle$</h1>
    <div class="info">
      $about$
    </div>
    <h1>Projects</h1>

    <h2>Special projects</h2>
    <div class="projects">
      $for(projects-special)$
        $partial("templates/project.html")$
      $endfor$
    </div>

    <h2>Haskell-related projects</h2>
    <div class="projects">
      $for(projects-haskell)$
        $partial("templates/project.html")$
      $endfor$
    </div>

    <h2>Emacs-related projects</h2>
    <div class="projects">
      $for(projects-emacs)$
        $partial("templates/project.html")$
      $endfor$
    </div>

    <h2>Other projects</h2>
    <div class="projects">
      $for(projects-other)$
        $partial("templates/project.html")$
      $endfor$
    </div>
  </body>
</html>
