<div class="project flex-item">
  <div class="project-header">
    <div class="project-name h3">
      <a href="https://github.com/d12frosted/$title$" title="GitHub">
        <i class="fa-brands fa-github"/>
        $title$
      </a>
    </div>
    <p>$stargazers_count$ <i class="fa fa-star"></i></p>
    <p>Languages: $languages$</p>
  </div>
  <div class="project-body">
    $body$
  </div>
  <div class="project-footer">
    $if(tag)$
    <p><a href="/tags/$tag$.html">Related posts</a></p>
    $endif$
  </div>
</div>
